:root {
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

#footer {
    margin-top: auto;
    margin-bottom: 5vh;
}


#footer-text {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3309698879551821) 80%, rgba(255,255,255,0.8099614845938375) 100%);
    color: black;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
}

.container {
    display: flex;
    min-height: 100%;
    margin: 0;
}

.image-container {
    position: relative;
    background-color: white;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-item-img {
    width: 35vw;
    max-width: 550px;
    height: auto;
    margin-bottom: 10vh;
    animation: left-to-right 1.5s ease-out forwards;
}

#shop-woof-img {
    position: absolute;
    width: 10vw;
    height: auto;
    top: 5vh;
    right: 4vw;
    animation: wobble 2s ease-in-out forwards;
}

@keyframes left-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes wobble {
    0% {
        opacity: 0%;
    }
    60% {
        transform: translateY(0%);
    }
    70% {
        opacity: 100%;
        transform: translateY(10%);
    }
    80% {
        opacity: 100%;
        transform: translateY(0%);
    }
    90% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

.form-container {
    display: flex; 
    flex-direction: column;
    background-color: #ffde59;
    width: 50vw;   
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 13vh;
    margin-bottom: 0;
}

.header-container {
    text-decoration: underline 2px white;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    margin-top: 5vh; /* media query 10vh for wide screen 0vh for smaller  */
}

.header-container span {
    font-size: 12px;
}


form {
    padding: 0;
    margin-right: auto;
}

.form-row {
    display: flex;
    margin: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.form-item input {
    width: 150px;
    height: 20px;
    border-radius: 7px;
    border: 2px solid white;
}

input {
    position: relative;
}

input:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.221);
}

button {
    width: 150px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 0px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(34, 192, 195, 0.765);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

button:active {
    outline: none;
    color: white;
    text-shadow: 1px 1px black;
    background: linear-gradient(220deg, rgba(34,193,195,1) 0%, #ffcc00 45%);
    background-size: 200% 100%;
    animation: makeItfadeIn 500ms ease-in-out;
}

@keyframes makeItfadeIn {
    from {
        background-position: right;
    }

    to {
        background-position: left;
    }
}

p {
    font-size: 10px;
    margin-left: 22px;
}

p  span {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 12px;
    text-decoration: underline;
}




